
body{
  background: #000;
}

.logo{
  font-size: 30px;
 	font-family: 'Fjalla One';
  font-weight: 700;
        text-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
		text-transform: uppercase;
	 background-image: linear-gradient(to right,#30dd8a,#25aae1);
    
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
  text-shadow: -1px 2px 6px rgba(242,242,242,0.79);
}

.data-card{
  border: 1px solid #333;
  border-radius: 2px;
  margin: 10px;
}

li{
  list-style: none !important;
}
